body {
    background-color: #3A7FD2;
    color: white;
    font: normal 20px Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 600px;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.315);
    border-radius: 20px;
    color: black;
}

footer p {
    font-style: italic;
}

#infosone {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 30px;
}

#infosone input{
    height: 15px;
    margin-top: 2px;
}

#infosone p {
    margin: 0px;
}

#infostwo {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 20px;
}

#infostwo label{
    font-size: 18px;
    margin-top: 5px;
    margin-left: 1px;
}

#infostwo p {
    margin: 0;
}

#infostwo input{
    margin-left: 10px;
}

#infostree {
    margin-left: 20px;
}

#infostree input {
    margin-top: 20px;
}

#infosfor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer a {
    text-decoration: none;
}

footer p {
    color: white;
}